<a href="https://colab.research.google.com/github/guravharshvardhan/Machine-Learning/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
data={
    'Age':[35,15,50,None,25],
    'Salary':[40000,66000,None,55000,85000],
    'Department':['HR','IT','IT','HR','HR'],
    'Purchased':['Yes','No','No','Yes','Yes'],
    'Gender':['Female','Female','Male','Female','Male']
}

df=pd.DataFrame(data)
print("Before preprocessing dataset:\n",df)

Before preprocessing dataset:
     Age   Salary Department Purchased  Gender
0  35.0  40000.0         HR       Yes  Female
1  15.0  66000.0         IT        No  Female
2  50.0      NaN         IT        No    Male
3   NaN  55000.0         HR       Yes  Female
4  25.0  85000.0         HR       Yes    Male

In [3]:
imputer=SimpleImputer(strategy='mean')
df[['Age','Salary']]=imputer.fit_transform(df[['Age','Salary']])
print("After handling missing values:\n",df)

After handling missing values:
      Age   Salary Department Purchased  Gender
0  35.00  40000.0         HR       Yes  Female
1  15.00  66000.0         IT        No  Female
2  50.00  61500.0         IT        No    Male
3  31.25  55000.0         HR       Yes  Female
4  25.00  85000.0         HR       Yes    Male

In [4]:
label_encoder=LabelEncoder()
df['Department']=label_encoder.fit_transform(df['Department'])
df['Purchased']=label_encoder.fit_transform(df['Purchased'])
df['Gender']=label_encoder.fit_transform(df['Gender'])

In [5]:
scaler=StandardScaler()
df[['Age','Salary']]=scaler.fit_transform(df[['Age','Salary']])

In [6]:
x=df.drop('Purchased',axis=1)
y=df['Purchased']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
print("\nPreprocessed Features (X_train):\n", X_train)
print("\nTarget (y_train):\n", y_train)

Preprocessed Features (X_train):
         Age    Salary  Department  Gender
4 -0.540422  1.601198           0       1
2  1.621266  0.000000           1       1
0  0.324253 -1.464926           0       0
3  0.000000 -0.442885           0       0

Target (y_train):
 4    1
2    0
0    1
3    1
Name: Purchased, dtype: int64